%% -*- mode: erlang -*-

{erl_opts,
	[encrypt_debug_info,
        {i,"./include"}
        ,{i,"../include"}
        ,{i,"../proto"}
        ,{i, "../dep/erlang_mysql/include"}
        ,{i, "../dep/log4erl/include"}
         
         ,{src_dirs,[
         			"src"
         			]
         }
         ,warnings_as_errors
    ]
}.









